@charset "UTF-8";

/*
  ##################
    Global Styles
  ##################
*/
*, ::after, ::before {
  box-sizing: border-box;
}

:focus {
  /* outline: 1px dashed var(--clr-orange); */
  /* outline-offset: 2px; */
  outline: 0;
}

:root {
  --clr-accent: rgb(255, 33, 33);
  --clr-dark: #302f3c;
  --clr-secondary: #fafafa;
  --rounded-1: ;
  --rounded-2: 1rem;
  --ff-sans-serif: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  --ff-gotham: serif;
  --fw-md: ;
  --fw-bold: ;
  --padding-1: ;
  --padding-2: .6rem;
}

body {
  margin-inline: auto;
  width: 90%;
}

html, 
body {
  margin: 0;
  height: 100%;
  width: 100%;
}


header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem !important;
  position: relative;
}

header a {
  border-radius: 100%;
}

header a:focus {
  outline: 0;
  cursor: pointer;
}

header svg {
  color: gray;
  width: min(35px, 50px);
}









/*
  ######################
    Typography Styles
  ######################
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-gotham);
  color: var(--clr-dark);
}

p, .search input[type=text] {
  font-family: var(--ff-sans-serif)
}

.intro-text {
  font-size: clamp(1.5rem, .5rem + 5vw, 6rem);
  margin: auto;
  text-align: center;
  padding-block: 2rem;
  width: 16ch;
}











/*
  ######################
    Component Styles
  ######################
*/
.btn {
  border: 0;
  border-radius: var(--rounded-2);
  padding: var(--padding-2);
  position: relative;
}

.btn-secondary {
  background-color: var(--clr-secondary)
}

.btn-secondary:hover, .btn-secondary:focus {
  background: var(--clr-accent);
  color: white;
}

.category {
  display: flex;
  gap: .5rem;
}

.highlight {
  color: var(--clr-accent);
}

icon {
  color: var(--clr-dark)
}

button.icon-fill, 
.icon-fill {
  color: var(--clr-dark);
  background: transparent;
  border: 0px;
}

button.icon-fill:hover,
button.icon-fill:focus {
  color: var(--clr-accent);
  stroke-opacity: 1;
  fill-opacity: 1;
}

button.icon-stroke, 
.icon-stroke {
  stroke: var(--clr-dark);
  background: transparent;
  border: 0px;
}

button.icon-stroke:hover,
button.icon-stroke:focus {
  stroke: var(--clr-accent);
  stroke-opacity: 1;
  fill-opacity: 1;
}


.identity {
  font-size: 1.2rem;
  margin: 0;
}

.location {
  display: flex;
  align-items: center;
}

.logo:hover svg, .logo:focus svg {
  color: var(--clr-accent);
}


.notification svg {
  color: var(--clr-dark);
}

.notification:hover svg, .notification:focus svg  {
  color: white;
}


.search {
  align-items: center;
  background: var(--clr-secondary);
  border-radius: var(--rounded-2);
  fill-opacity: 0.5;
  display: flex;
  padding: var(--padding-2);
  justify-content: space-between;
  stroke-opacity: .5;
}

.search > span {
  display: flex;
  gap: .5rem;
  width: 100%;
}

.search input[type=text] {
  background: transparent;
  border: 0px;
  color: var(--clr-dark);
  font-size: .85rem;
  font-weight: bold;
  opacity: .6;
  width: 100%;
}




/*
  #################
    Other Styles
  #################
*/

.w-90 {
  margin: auto;
  width: 90%;
}