@charset "UTF-8";

/*
  ##################
    Fontface Imports
  ##################
*/

@font-face {
  font-family: "gotham-bold";
  src: url(../fonts/gotham-bold.ttf);
}

@font-face {
  font-family: "gotham-regular";
  src: url(../fonts/gotham-regular.ttf);
}

@font-face{
  font-family: "playfair";
  src: url("../fonts/playfair.ttf");
}



/*
  ##################
    Global Styles
  ##################
*/
*, ::after, ::before {
  box-sizing: border-box;
}

:focus {
  /* outline: 1px dashed var(--clr-orange); */
  /* outline-offset: 2px; */
  outline: 0;
}

:root {
  --clr-accent: #ff2121;
  --clr-dark: #302f3c;
  --clr-secondary: #fafafa;
  --rounded-1: .5rem;
  --rounded-2: 1rem;
  --ff-serif: "playfair", "Times New Roman", serif;
  --ff-gotham-reg: "gotham-regular", "sans-serif";
  --ff-gotham-bold: "gotham-bold", sans-serif;
  --padding-1: .3rem;
  --padding-2: .6rem;
}

button {
  cursor: pointer;
}

html, 
body {
  margin: 0;
  height: 100%;
  width: 100%;
  min-width: 280px;
}


header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem !important;
  position: relative;
}

header a {
  border-radius: 100%;
}

header svg {
  color: gray;
  width: min(35px, 50px);
}







/*
  ######################
    Typography Styles
  ######################
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-serif);
  color: var(--clr-dark);
  font-weight: bolder;
}

.text-bold, .text-bold > span {
  font-weight: bold;
}

p, .search input[type=text] {
  font-family: var(--ff-gotham-reg);
}

.intro-text {
  font-size: clamp(1.3rem, .5rem + 5vw, 6rem);
  font-weight: bold;
  margin: auto;
  text-align: center;
  /* padding-block: 2rem; */
  width: 15ch;
}

.subheader {
  font-size: clamp(1.2rem, .1rem + 4vw, 2rem);
}

.text-faint-dark {
  color: var(--clr-dark);
  opacity: .6;
}











/*
  ######################
    Component Styles
  ######################
*/



/** ---button--- **/
.btn {
  border: 0;
  border-radius: var(--rounded-2);
  padding: var(--padding-2);
  padding-block: .8rem;
  position: relative;

}

.btn-secondary {
  background-color: var(--clr-secondary)
}

.btn-secondary:hover, .btn-secondary:focus {
  color: white;
}

button.icon-fill, 
.icon-fill {
  color: var(--clr-dark);
  background: transparent;
  fill-opacity: .6;
  border: 0px;
}

button.icon-fill:not(.search-icon):hover,
.icon-fill:not(.search-icon):hover {
  color: var(--clr-accent);
  stroke-opacity: 1;
  fill-opacity: 1;
}

button.icon-stroke, 
a .icon-stroke, 
.icon-stroke {
  stroke: var(--clr-dark);
  background: transparent;
  stroke-opacity: .6;
  border: 0px;
}

button.icon-stroke:hover,
a > .icon-stroke:hover {
  stroke: var(--clr-accent);
  stroke-opacity: 1;
  fill-opacity: 1;
}



/** ---category--- **/
.menu .options {
  display: flex;
  font-size: small;
  gap: 1rem;
  overflow-x: auto;
  -ms-overflow-style: none;
  padding-bottom: 1.2rem;
  padding-inline: 5%;
  overflow: none;
  white-space: nowrap;
}


.menu .options::-webkit-scrollbar  {
  display: none;
}

.menu .option {
  align-items: center;
  border-radius: .9rem;
  color: var(--clr-dark);
  display: flex;  
  gap: 5px;
  justify-content: center;
  padding: .8rem;
  text-transform: capitalize;
  width: fit-content;
}

@media screen and (min-width: 450px) {
  #category .option span.option-bg {
    display: none;
  }

  #category .option {
    padding: 1.2rem;
  }
}



.menu .option:focus,
.menu .option:hover,
.menu .option.active {
  background: var(--clr-accent);
  box-shadow: 0px 5px .8rem rgba(0, 0, 0, 0.1);
  color: white;
}


.menu .option p {
  margin: 0px;
}

.menu .option.active .option-bg  {
  background: white;
}


.menu .option-bg {
  align-items: center;
  border-radius: calc(var(--rounded-1));
  display: flex;
  padding: .25rem;
  justify-content: center;
}

.highlight {
  color: var(--clr-accent);
}

.identity {
  font-size: 1.2rem;
  margin: 0;
}

.location {
  display: flex;
  align-items: center;
  color: var(--clr-dark);
  font-size: small;
}



.logo svg {
  color: #a5a5a5;
  /* opacity: .6; */
}

.logo:hover svg, 
.logo:focus svg
{
  color: var(--clr-accent);
}






/** ---popular--- **/
.popular {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(autofit, minmax(300px, 400px)); */
  gap: 2rem;
  justify-content: flex-start;
  padding-left: 0px;
  padding-bottom: 6rem;
  width: 100%;
}

@media screen and (min-width: 450px) {
  .popular .item {
    width: 350px;
    display: none;
  }
}


.popular .item {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
}
 
.popular .item > img {
  aspect-ratio: 2/1;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  object-fit: cover;
  object-position: top center;
  width: 100%;
}

.popular .item:hover > img {
  filter: saturate(1.15);
}

.popular .item-details {
  align-items: center;
  background-color: var(--clr-secondary);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  display: flex;
  padding-block: 1rem;
  padding-inline: 1rem;
  justify-content: space-between;
}

.period-divider svg {
  width: 4px;
  transform: translateY(-2px);
}

.popular .item .item-title {
  color: var(--clr-dark);
  font-family: var(--ff-gotham-bold) !important;
  font-weight: bold;
  font-size: clamp(1rem, .1rem + 4vw, 1.2rem);
  margin-top: 0px;
  margin-bottom: .5rem;
  white-space: nowrap;
  word-break: keep-all;
}

.popular .item .item-desc,
.popular .item .rating-and-delivery-time {
  font-size: small;
  margin-block: 0px;
}

.item-profile img {
  border: 3px solid white;
  border-radius: 100%;
  display: none;
  height: 50px;
  width: 50px;
}


@media screen and (min-width: 380px){
  .item-profile img{
    display: block;
  }
}


.item-profile {
  display: flex;
  gap: 10px;
}



.item-desc  {
  align-items: center;
  display: flex;
  font-size: small;
  gap: 8px;
}



.rating-and-delivery-time .item-rating p {
  margin-block: 0px;
}

.rating-and-delivery-time .item-delivery-time {
  margin-block: 0px;
}

.item-rating {
  align-items: center;
  display: flex;
  gap:.2rem;
  margin-bottom: .5rem;
}



/** ---icon-effect--- **/

.icon-effect:hover, .icon-effect:focus {
  background: var(--clr-secondary);
}

.icon-effect svg {
  color: var(--clr-dark);
  fill-opacity: .6;
}

.icon-effect:hover svg, .icon-effect.active svg  {
  color: var(--clr-accent);
  fill-opacity: 1;
}

.inline-icon {
  padding-block: 1.25rem;
}



/** ---search--- **/
.search {
  align-items: center;
  background: var(--clr-secondary);
  border-radius: var(--rounded-2);
  fill-opacity: 0.5;
  display: flex;
  padding: var(--padding-2);
  justify-content: space-between;
  stroke-opacity: .5;
}

.search > span {
  display: flex;
  gap: .5rem;
  width: 100%;
}

.search .search-box {
  background: transparent;
  border: 0px;
  caret-color: var(--clr-accent);
  font-size: small;
  width: 100%;
}


*::selection, .search .search-box::selection {
  background: var(--clr-accent);
  color: white;
}

.restaurant-cover {
  display: inline-block;
  position: absolute;
  min-width: inherit;
  top: 0;
  width: 100%;
  z-index: -1;
}

.restaurant-cover img {
  aspect-ratio: 2/1;
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.restaurant-cover div::after {
  background-color: rgb(0, 0, 0, .5);
  content: "";
  position: absolute;
  inset: 0;
}

.restaurant-details {
  background: var(--clr-secondary);
  border-radius: 2rem;
  font-weight: bold;
  padding: 1rem;
  padding-top: 2rem;
  transform: translateY(-40px);
}

.restaurant-details h1 {
  color: var(--clr-dark);
  width: fit-content;
}

.restaurant-details ul {
  padding-left: 0px;
  font-family: var(--ff-gotham-reg);
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.restaurant-details li {
  align-items: center;
  display: flex;
  gap: .5rem;
}



img.restaurant-profile {
  border-radius: 100%;
  display: block;
  filter: drop-shadow(0px 5px 10px rgb(0, 0, 0, .4));
  margin-inline: auto;
  margin-top: 2.5rem;
  width: 80px;
  position: relative;
  z-index: 1;
}

.menu-search {
  align-items: center;
  background: transparent;
  display: flex;
  /* gap: 6rem; */
  justify-content: space-between;
  padding: 0px;
}

.menu-search .btn {
  padding: .35rem
}

.menu-search .search-box {
  max-width:15ch;
}

.menu-search span {
  display: flex;
  justify-content: flex-end;
  transform: translateY(2.8px);
}

#menu .option {
  padding: 1.2rem;
}

/*
  #################
    Other Styles
  #################
*/

.hide {
  /* display: none; */
}

.mb-1rem {
  margin-block: 1rem;
}

.mb-2rem {
  margin-block: 2rem;
}


.mx-auto {
  margin-inline: auto;
}

.mlx-auto {
  margin-left: auto;
}

.shadow {
  box-shadow: 0px 5px .8rem rgba(0, 0, 0, 0.05);

}

.w-90 {
  width: 90%;
}
  
.w-95 {
  width: 95%;
}

